<section class="custody">
  <div class="container">
    <h2 class="custody__title">що означає взяти хвостика під опіку?</h2>
    <h3 class="custody__subtitle">що надає опіка тварини?</h3>
  </div>
  <div class="swiper" data-slider="custody-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <img
            src="./assets/static/pictures/custody1.png"
            alt="at home"
            width="1920"
            loading="lazy"
          />
        </picture>
        <div class="container custody__duty">
          <p>1. Забезпечення хвостика їжею щомісячно</p>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <img
            src="./assets/static/pictures/custody1.png"
            alt="at home"
            width="1920"
            loading="lazy"
          />
        </picture>
        <div class="container custody__duty">
          <p>2. Піклування про хвостика</p>
        </div>
      </div>
      <div class="swiper-slide">
        <picture>
          <img
            src="./assets/static/pictures/custody1.png"
            alt="at home"
            width="1920"
            loading="lazy"
          />
        </picture>
        <div class="container custody__duty">
          <p>1. Забезпечення хвостика їжею щомісячно</p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="container">
    <p class="custody__text">
      Лікування, стерилізація, перетримка, грумінг і подібні процедури
      обговорюються з опікуном окремо.
    </p>
    <h2 class="custody__subtitle">Як стати опікуном для тварини?</h2>
    <p class="custody__text">
      Дуже часто нашим друзям, гостям та підписникам западає в душу якийсь
      сумний носик. Нажаль, не всі можуть забрати тварину з притулку, але мають
      бажання допомагати підтримувати хвостика та його сите життя. Тепер можливо
      обрати одного або декілька хвостиків та щомісяця виділяти кошти для його
      утримання.
    </p>
    <h2 class="custody__subtitle">що потрібно робити?</h2>
    <ol class="custody__list">
      <li>Обрати хвостика або хвостиків на сайті;</li>
      <li>Заповнити анкету опікуна;</li>
      <li>Очікувати лист підтвердження;</li>
      <li>
        Перевести перший платіж за перший місяць та налаштувати щомісячну
        підтримку;
      </li>
      <li>
        За бажанням приїжджати вигулювати, чухати, цілувати, спілкуватися.
      </li>
    </ol>
    <p class="custody__text">
      В кожної тварини має бути тільки один опікун, подвійна опіка не можлива. У
      разі прилаштування або смерті тварини Притулок повідомляє опікуна.
    </p>
  </div>
</section>
