<section class="pet">
  <div class="container">
    <div class="pet__card">
      <div class="pet__img">
        <picture>
          <img
            src="./assets/static/pictures/pet.png"
            alt="pet"
            width="700"
            loading="lazy"
          />
        </picture>
        <a href="" class="pet__back">
            <p>Повернутись до перегляду хвостиків</p>
        </a>
      </div>
      <div class="pet__profile">
        <h1 class="pet__name">Хвостик</h1>
        <p class="pet__code">код: 32456</p>
        <ul>
          <li class="pet__obj">
            <p class="pet__obj-value">Стать</p>
            <p class="pet__value-obj-key">Дівчинка</p>
          </li>
          <li class="pet__obj">
            <p class="pet__obj-value">Вік</p>
            <p class="pet__value-obj-key">1 рік</p>
          </li>
          <li class="pet__obj">
            <p class="pet__obj-value">Розмір</p>
            <p class="pet__value-obj-key">Маленька</p>
          </li>
          <li class="pet__obj">
            <p class="pet__obj-value">Стерилізація</p>
            <p class="pet__value-obj-key">Зроблена</p>
          </li>
          <li class="pet__obj">
            <p class="pet__obj-value">Шерсть</p>
            <p class="pet__value-obj-key">Середня</p>
          </li>
          <li class="pet__obj">
            <p class="pet__obj-value">Характер</p>
            <p class="pet__value-obj-key">Спокійна</p>
          </li>
        </ul>
        <div class="pet__btns">
            <a class="btn btn-yellow btn-paw btn-yellow--paw btn-font--sec pet__btn">
                <svg width="35" height="35" class="icon icon-fill-black">
                    <use href="./assets/static/icons.svg#icon-paw" />
                  </svg>
                  Взяти додому
            </a>
            <a class="btn btn-dashed btn-font--sec btn-dashed--small btn-dashed--dark pet__btn">Стати опікуном</a>
        </div>
      </div>
    </div>
    <div class="pet__odd">
        <div>
            <h2 class="pet__subtitle">Додаткова інформація</h2>
            <p class="pet__text">Lorem ipsum dolor sit amet consectetur. Nunc nisl non sed facilisis orci. Risus tellus et fermentum arcu posuere. Lacus in tellus pulvinar vitae aenean feugiat. Eu id egestas ut vel nisl tellus et morbi. Vitae proin dolor arcu duis aliquam tellus sed. Quisque bibendum ipsum lectus dolor id. Massa ultrices lorem porttitor id.</p>
            <div class="pet__info">
                <h3 class="pet__info-title">Стан</h3>
                <p>Потребує щоденного догляду, прийом ліків та обстеження кожного місяця.</p>
            </div>
            <div class="pet__info">
                <h3 class="pet__info-title">Особливості поведінки</h3>
                <ul class="pet__info-list">
                    <li>Дуже тактильна, полюбляє сидіти на руках.</li>
                    <li>Тваринка любить дітей.</li>
                    <li>Лікування не потребує.</li>
                </ul>
            </div>
        </div>
        <div class="pet__odd-img">
            <picture>
                <img
                  src="./assets/static/pictures/pet.png"
                  alt="pet"
                  width="700"
                  loading="lazy"
                />
              </picture>
        </div>
    </div>
    <div class="pet__odd-btn">
        <a href="" class="btn btn-dashed btn-dashed--big btn-font--sec btn-dashed--yellow">стати опікуном</a>
    </div>
  </div>
</section>
