<div class="section report">
    <div class="container">
        <ul class="report__list">
            <!-- * start of single card of report-->
            <li class="report__item">
                <div class="report__item-title">
                    <svg width="64" height="64" class="icon icon-dark-blue report__icon">
                        <use href="./assets/static/icons.svg#icon-document"></use>
                    </svg>
                    <h3>Звітність про діяльність за 2018 рік</h3>
                </div>
                <ul class="report__links">
                    <li><a href="">Загальний звіт за 2018 рік</a></li>
                    <li><a href="">Корм для тварин</a></li>
                    <li><a href="">Лікування та медична допомога</a></li>
                </ul>
            </li>
            <!-- *end of single card of report -->
            <li class="report__item">
                <div class="report__item-title">
                    <svg width="64" height="64" class="icon icon-dark-blue report__icon">
                        <use href="./assets/static/icons.svg#icon-document"></use>
                    </svg>
                    <h3>Звітність про діяльність за 2018 рік</h3>
                </div>
                <ul class="report__links">
                    <li><a href="">Загальний звіт за 2018 рік</a></li>
                    <li><a href="">Корм для тварин</a></li>
                    <li><a href="">Лікування та медична допомога</a></li>
                </ul>
            </li>
            <li class="report__item">
                <div class="report__item-title">
                    <svg width="64" height="64" class="icon icon-dark-blue report__icon">
                        <use href="./assets/static/icons.svg#icon-document"></use>
                    </svg>
                    <h3>Звітність про діяльність за 2018 рік</h3>
                </div>
                <ul class="report__links">
                    <li><a href="">Загальний звіт за 2018 рік</a></li>
                    <li><a href="">Корм для тварин</a></li>
                    <li><a href="">Лікування та медична допомога</a></li>
                </ul>
            </li>
            <li class="report__item">
                <div class="report__item-title">
                    <svg width="64" height="64" class="icon icon-dark-blue report__icon">
                        <use href="./assets/static/icons.svg#icon-document"></use>
                    </svg>
                    <h3>Звітність про діяльність за 2018 рік</h3>
                </div>
                <ul class="report__links">
                    <li><a href="">Загальний звіт за 2018 рік</a></li>
                    <li><a href="">Корм для тварин</a></li>
                    <li><a href="">Лікування та медична допомога</a></li>
                </ul>
            </li>
            <li class="report__item">
                <div class="report__item-title">
                    <svg width="64" height="64" class="icon icon-dark-blue report__icon">
                        <use href="./assets/static/icons.svg#icon-document"></use>
                    </svg>
                    <h3>Звітність про діяльність за 2018 рік</h3>
                </div>
                <ul class="report__links">
                    <li><a href="">Загальний звіт за 2018 рік</a></li>
                    <li><a href="">Корм для тварин</a></li>
                    <li><a href="">Лікування та медична допомога</a></li>
                </ul>
            </li>
            <li class="report__item">
                <div class="report__item-title">
                    <svg width="64" height="64" class="icon icon-dark-blue report__icon">
                        <use href="./assets/static/icons.svg#icon-document"></use>
                    </svg>
                    <h3>Звітність про діяльність за 2018 рік</h3>
                </div>
                <ul class="report__links">
                    <li><a href="">Загальний звіт за 2018 рік</a></li>
                    <li><a href="">Корм для тварин</a></li>
                    <li><a href="">Лікування та медична допомога</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>