<section class="all-news">
    <div class="container">
        <h2 class="all-news__subtitle">Важливі новини притулку</h2>
        <ul class="all-news__list">
            <li class="all-news__item">
                <h3 class="all-news__item-title">Відкриття другого притулку</h3>
                <p class="all-news__item-date">10 березня 2022р.</p>
                <div class="all-news__item-wr">
                    <div class="all-news__img">
                        <picture>
                            <img src="./assets/static/pictures/news.jpg" alt="news cover" width="880" loading="lazy">
                        </picture>
                    </div>
                    <p class="all-news__text">Інформація...Lorem ipsum dolor sit amet consectetur. Nec dictumst eu mauris ac purus pharetra viverra. Nullam egestas et nisl id pulvinar enim et. Vestibulum neque in ultrices nunc non. Purus suspendisse praesent urna pulvinar egestas arcu eget suspendisse. Arcu feugiat orci erat feugiat arcu laoreet. Mauris ultrices amet cras eget in magnis mauris nibh. Nisl semper duis gravida purus tellus posuere. Sem arcu vel arcu lorem vel eget a in. Nisi urna quis platea luctus. Інформація...Lorem ipsum dolor sit amet consectetur. Nec dictumst eu mauris ac purus pharetra viverra. Nullam egestas et nisl id pulvinar enim et. Vestibulum neque in ultrices nunc non. 
                        Lorem ipsum dolor sit amet consectetur. Nec dictumst eu mauris ac purus pharetra viverra. Nullam egestas et nisl id pulvinar enim et. Vestibulum neque in ultrices nunc non. </p>
                </div>
            </li>
            <li class="all-news__item">
                <h3 class="all-news__item-title">Відкриття другого притулку</h3>
                <p class="all-news__item-date">10 березня 2022р.</p>
                <div class="all-news__item-wr">
                    <div class="all-news__img">
                        <picture>
                            <img src="./assets/static/pictures/news.jpg" alt="news cover" width="880" loading="lazy">
                        </picture>
                    </div>
                    <p class="all-news__text">Інформація...Lorem ipsum dolor sit amet consectetur. Nec dictumst eu mauris ac purus pharetra viverra. Nullam egestas et nisl id pulvinar enim et. Vestibulum neque in ultrices nunc non. Purus suspendisse praesent urna pulvinar egestas arcu eget suspendisse. Arcu feugiat orci erat feugiat arcu laoreet. Mauris ultrices amet cras eget in magnis mauris nibh. Nisl semper duis gravida purus tellus posuere. Sem arcu vel arcu lorem vel eget a in. Nisi urna quis platea luctus. Інформація...Lorem ipsum dolor sit amet consectetur. Nec dictumst eu mauris ac purus pharetra viverra. Nullam egestas et nisl id pulvinar enim et. Vestibulum neque in ultrices nunc non. 
                        Lorem ipsum dolor sit amet consectetur. Nec dictumst eu mauris ac purus pharetra viverra. Nullam egestas et nisl id pulvinar enim et. Vestibulum neque in ultrices nunc non. </p>
                </div>
            </li>
        </ul>
    </div>
</section>