<section class="assortment">
    <div class="container">
        <h2 class="assortment__subtitle">Замовляєш сувенір - допомагаєш хвостикам</h2>
        <p class="assortment__text">Обирай сувенір та пиши у соц мережі</p>
        <ul class="assortment__list">
            <li class="assortment__item">
                <picture><img src="./assets/static/pictures/souvenir1.png" alt="souvenir" width="200" loading="lazy"></picture>
            </li>
            <li class="assortment__item">
                <picture><img src="./assets/static/pictures/souvenir1.png" alt="souvenir" width="200" loading="lazy"></picture>
            </li>
            <li class="assortment__item">
                <picture><img src="./assets/static/pictures/souvenir1.png" alt="souvenir" width="200" loading="lazy"></picture>
            </li>
            <li class="assortment__item">
                <picture><img src="./assets/static/pictures/souvenir1.png" alt="souvenir" width="200" loading="lazy"></picture>
            </li>
            <li class="assortment__item">
                <picture><img src="./assets/static/pictures/souvenir1.png" alt="souvenir" width="200" loading="lazy"></picture>
            </li>
            <li class="assortment__item">
                <picture><img src="./assets/static/pictures/souvenir1.png" alt="souvenir" width="200" loading="lazy"></picture>
            </li>
            <li class="assortment__item">
                <picture><img src="./assets/static/pictures/souvenir1.png" alt="souvenir" width="200" loading="lazy"></picture>
            </li>
            <li class="assortment__item">
                <picture><img src="./assets/static/pictures/souvenir1.png" alt="souvenir" width="200" loading="lazy"></picture>
            </li>
        </ul>
        <div class="assortment__more">
            <p class="assortment__subtitle">Дивись весь асортимент в соц. мережах</p>
            <ul class="assortment__socials">
                <li>
                    <svg width="40" height="40" class="icon icon-fill-black icon-trans-scale">
                        <use href="./assets/static/icons.svg#icon-facebook"></use>
                    </svg>
                </li>
                <li>
                    <svg width="40" height="40" class="icon icon-fill-black icon-trans-scale">
                        <use href="./assets/static/icons.svg#icon-instagram"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</section>