<div class="container care-shelter__wrapper section--relative">
  <!-- * text block  -->
  <div class="care-shelter__details">
    <h2 class="care-shelter__title">Візьми хвостика під опіку!</h2>
    <p>
      Якщо в тебе немає можливості забрати тваринку до себе, ти можеш стати її
      опікуном.
    </p>
    <div class="care-shelter__btns">
      <a
        href="./animals.html"
        class="btn care-shelter__btn btn-yellow btn-font--sec btn-yellow--cleaned care-shelter__btn-yellow"
        >обрати хвостика</a
      >
      <a
        href="./custody.html"
        class="btn care-shelter__btn btn-font--sec btn-dashed btn-dashed--big btn-dashed--dark"
        >Детальніше</a
      >
    </div>
  </div>
  <!-- * end of text block -->
  <!-- image block -->
  <div class="care-shelter__img-wr">
    <picture>
      <img
      src="./assets/static/maine-coon.png"
      width="564"
      alt="maine coon"
      loading="lazy"
    />
    </picture>
  </div>
</div>
