<section class="caretaker section--mobile-bottom">
    <div class="container caretaker__wrapper">
            <h2 class="caretaker__title">Не можеш обрати хвостика? </h2>
            <h2 class="caretaker__title">Заповни анкету</h2>
            <p class="caretaker__text">Розкажи нам про себе і ми допоможемо знайти тобі друга</p>
            <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-yellow btn-font--sec caretaker__btn">АНКЕТА МАЙБУТНЬОГО ОПІКУНА</a>
    </div>
</section>