<section class="domestic">
  <div class="container">
    <h2 class="domestic__title">Ці тваринки знайшли свій дім.</h2>
  </div>
  <div class="swiper" data-slider="athome-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <img
            src="./assets/static/pictures/athome1.png"
            alt="at home"
            width="1920"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <img
            src="./assets/static/pictures/athome1.png"
            alt="at home"
            width="1920"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <img
            src="./assets/static/pictures/athome1.png"
            alt="at home"
            width="1920"
          />
        </picture>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
