<footer class="footer section-top">
  <div class="container">
    <div class="footer--wrapper">
      <a href="./"  class="footer__img-wr">
        <picture>
          <img src="./assets/static/pictures/logo.png" alt="footer logo" width="100" loading="lazy">
        </picture>
      </a>
      <div class="footer__links">
        <ul class="footer__list">
          <li><a href="animals.html">Взяти хвостика</a></li>
          <li><a href="">Стати опікуном</a></li>
          <li><a href="athome.html">Вже вдома</a></li>
        </ul>
        <ul class="footer__list">
          <li><a href="about.html">Про притулок</a></li>
          <li><a href="">Звітність</a></li>
          <li><a href="souvenirs.html">Сувеніри</a></li>
        </ul>
        <ul class="footer__list">
          <li><a href="">Підтримати притулок</a></li>
          <li><a href="needs.html">Потреби притулку</a></li>
          <li><a href="">Стати спонсором</a></li>
        </ul>
        <ul class="footer__list">
          <li class="footer__address">
            <p>Адреса</p>
            <address>вул. Антоновича, 21</address>
          </li>
          <li class="footer__address">
            <p>Контакти</p>
            <a href="tel:+380993554433">+38(099) 355-44-33</a>
          </li>
        </ul>
      </div>
      <div class="footer__socials">
        <p>Соціальні мережі</p>
        <ul class="footer__socials-list">
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <svg class="icon icon-fill-white icon-trans-scale" width="40" height="40">
                <use href="./assets/static/icons.svg#icon-facebook" />
              </svg>
            </a>
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <svg class="icon icon-fill-white icon-trans-scale" width="40" height="40">
                <use href="./assets/static/icons.svg#icon-instagram" />
              </svg>
            </a>
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <svg class="icon icon-fill-white icon-trans-scale" width="40" height="40">
                <use href="./assets/static/icons.svg#icon-telegram" />
              </svg>
            </a>
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <svg class="icon icon-fill-white icon-trans-scale" width="40" height="40">
                <use href="./assets/static/icons.svg#icon-youtube" />
              </svg>
            </a>
          </li>
          <li>
            <a href="http://" target="_blank" rel="noopener noreferrer">
              <svg class="icon icon-fill-white icon-trans-scale" width="40" height="40">
                <use href="./assets/static/icons.svg#icon-tiktok" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer__credentials">&#169;2023 Бест Френдз Всі права захищені</p>
  </div>
</footer>
