<section class="friends">
  <div class="container">
    <form class="friends__input-wrapper">
      <button type="button" class="btn btn-reset friends__filter" data-filter="open">
        <svg width="32" height="32" class="icon icon-sky-blue icon-trans-scale">
          <use href="./assets/static/icons.svg#icon-filter"></use>
        </svg>
      </button>
      <input
        type="text"
        name="animal"
        id="animal"
        placeholder="Пошук"
        class="friends__input"
      />
      <button type="submit" class="btn btn-reset friends__input-btn">
        <svg width="24" height="24" class="icon icon-stroke-black">
          <use href="./assets/static/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="friends__wrapper">
      <include src="assets/partials/filter.html"></include>
      <div class="friends__list-wrapper">
        <ul class="friends__list">
          <li class="friends__card">
            <picture>
              <img src="./assets/static/animal1.jpg" alt="animal" width="600" />
            </picture>
            <p class="friends__name">Мурка</p>
            <div class="friends__state">
              <p>Під опікою</p>
            </div>
          </li>
          <li class="friends__card">
            <picture>
              <img src="./assets/static/animal1.jpg" alt="animal" width="600" />
            </picture>
            <p class="friends__name">Мурка</p>
            <div class="friends__state">
              <p>Під опікою</p>
            </div>
          </li>
          <li class="friends__card">
            <picture>
              <img src="./assets/static/animal1.jpg" alt="animal" width="600" />
            </picture>
            <p class="friends__name">Мурка</p>
            <div class="friends__state">
              <p>Під опікою</p>
            </div>
          </li>
          <li class="friends__card">
            <picture>
              <img src="./assets/static/animal1.jpg" alt="animal" width="600" />
            </picture>
            <p class="friends__name">Мурка</p>
            <div class="friends__state">
              <p>Під опікою</p>
            </div>
          </li>
          <li class="friends__card">
            <picture>
              <img src="./assets/static/animal1.jpg" alt="animal" width="600" />
            </picture>
            <p class="friends__name">Мурка</p>
            <div class="friends__state">
              <p>Під опікою</p>
            </div>
          </li>
          <li class="friends__card">
            <picture>
              <img src="./assets/static/animal1.jpg" alt="animal" width="600" />
            </picture>
            <p class="friends__name">Мурка</p>
            <div class="friends__state">
              <p>Під опікою</p>
            </div>
          </li>
          <li class="friends__card">
            <picture>
              <img src="./assets/static/animal1.jpg" alt="animal" width="600" />
            </picture>
            <p class="friends__name">Мурка</p>
            <div class="friends__state">
              <p>Під опікою</p>
            </div>
          </li>
        </ul>
        <button
          type="button"
          class="btn btn-font--sec btn-dashed btn-dashed--dark btn-dashed--small friends__btn"
        >
          Завантажити ще
        </button>
      </div>
    </div>
  </div>
</section>
