<header class="header">
  <div class="container header__wrapper">
    <a href="./" class="header__logo">
      <img src="./assets/static/logo.png" alt="logo" width="100">
    </a>
    <nav class="header__nav">
      <ul>
        <li>
          <a href="./animals.html">Взяти хвостика</a>
        </li>
        <li>
          <a href="">Стати опікуном</a>
        </li>
        <li>
          <a href="./about.html">Про нас</a>
        </li>
        <li>
          <a href="#support">Підтримати притулок</a>
        </li>
        <li>
          <a href="#demands">Потреби притулку</a>
        </li>
        <li>
          <a href="">Вже дома</a>
        </li>
        <li>
          <a href="">Сувеніри</a>
        </li>
      </ul>
    </nav>
    <ul class="lang-switch">
      <li><a href="" class="active">UA</a></li>
      <li><a href="">EN</a></li>
    </ul>
  </div>
</header>
