<section class="hero section--mt-header">
  <div class="container">
    <!-- up article gallery + quote of company -->
    <div class="hero__quote">
      <div class="hero__title-wr">
        <h1 class="hero__title">
          не купуй,<br />
          візьми з притулку!
        </h1>
        <a
          href="./animals.html"
          class="btn btn-font--sec btn-yellow btn-yellow--cleaned hero__btn"
          >взяти друга</a
        >
      </div>
      <!-- dynamic small gallery -->
      <ul class="hero__gallery hero__gradient">
        <!-- start single card -->
        <li class="hero__card">
          <a href="./animals.html">
            <picture>
              <img
              src="./assets/static/pictures/dog.png"
              alt="help animals"
              width="220"
              loading="lazy"
            />
            </picture>
            <div class="hero__card-text bottom">
              <h4 class="hero__card-title">Взяти друга</h4>
              <p class="hero__card-subtitle">Дескриптор</p>
            </div>
            <div class="hero__card-text right">
              <h4 class="hero__card-title">Взяти друга</h4>
            </div>
            <div class="btn-reset hero__card-btn">
              <svg width="85" height="85" class="icon icon-fill-white hero__card-paw">
                <use href="./assets/static/icons.svg#icon-paw"></use>
              </svg>
              <svg width="40" height="20" class="icon icon-stroke-black hero__card-arrow">
                <use href="./assets/static/icons.svg#icon-arrow-right"></use>
              </svg>
            </div>
            <div class="hero__photo-overlay"></div>
          </a>
        </li>
        <!-- end of single card -->
        <li class="hero__card">
          <a href="">
            <picture>
              <img
              src="./assets/static/pictures/main-hero2.jpg"
              alt="take care of animals"
              width="220"
              loading="lazy"
            />
            </picture>
            <div class="hero__card-text bottom">
              <h4 class="hero__card-title">Стати опікуном</h4>
              <p class="hero__card-subtitle">Дескриптор</p>
            </div>
            <div class="hero__card-text right">
              <h4 class="hero__card-title">Стати опікуном</h4>
            </div>
            <div class="btn-reset hero__card-btn">
              <svg width="85" height="85" class="icon icon-fill-white hero__card-paw">
                <use href="./assets/static/icons.svg#icon-paw"></use>
              </svg>
              <svg width="40" height="20" class="icon icon-stroke-black hero__card-arrow">
                <use href="./assets/static/icons.svg#icon-arrow-right"></use>
              </svg>
            </div>
            <div class="hero__photo-overlay"></div>
          </a>
        </li>
        <li class="hero__card">
          <a href="">
            <picture>
              <img
              src="./assets/static/pictures/main-hero3.jpg"
              alt="thank animals"
              width="220"
              loading="lazy"
            />
            </picture>
            <div class="hero__card-text bottom">
              <h4 class="hero__card-title">Підтримати притулок</h4>
              <p class="hero__card-subtitle">Дескриптор</p>
            </div>
            <div class="hero__card-text right">
              <h4 class="hero__card-title">Підтримати притулок</h4>
            </div>
            <div class="btn-reset hero__card-btn">
              <svg width="85" height="85" class="icon icon-fill-white hero__card-paw">
                <use href="./assets/static/icons.svg#icon-paw"></use>
              </svg>
              <svg width="40" height="20" class="icon icon-stroke-black hero__card-arrow">
                <use href="./assets/static/icons.svg#icon-arrow-right"></use>
              </svg>
            </div>
            <div class="hero__photo-overlay"></div>
          </a>
        </li>
      </ul>
    </div>
    <!-- second article --> 
    <!-- description ->> 2 paragraphs+photo -->
    <article class="hero__description">
      <div class="hero__paragraph">
        <h2 class="hero__subtitle">про притулок</h2>
        <p class="hero__text">
          Частный приют для животных «Бест френдз» был основан в 2014 году селе
          Фасовая, Макаровского района, Киевской области на базе общественной
          организации «Зооцентр «Ковчег» Оноприенко Галиной Федоровной и
          построен за ее собственные средства. Галина Федоровна является
          владельцем приюта и его директором.
        </p>
        <div class="hero__img-wrapper">
          <picture>
            <img
            src="./assets/static/pictures/shelter1.jpg"
            alt="friendly dogs"
            width="768"
            class="hero__img"
            loading="lazy"
          />
          </picture>
        </div>
      </div>
      <div class="hero__paragraph">
        <div class="hero__img-wrapper right">
          <picture>
            <img
            src="./assets/static/pictures/shelter2.jpg"
            alt="friendly dogs"
            width="790"
            class="hero__img"
            loading="lazy"
          />
          </picture>
        </div>
        <p class="hero__text">
          Частный приют для животных «Бест френдз» был основан в 2014 году селе
          Фасовая, Макаровского района, Киевской области на базе общественной
          организации «Зооцентр «Ковчег» Оноприенко Галиной Федоровной и
          построен за ее собственные средства. Галина Федоровна является
          владельцем приюта и его директором.
        </p>
      </div>
    </article>
  </div>
</section>
