<section class="not-found section section--mt-header">
    <div class="not-found__gradient"></div>
    <div class="container not-found__wrapper">
        <div class="not-found__title">
            <p class="not-found__four">4</p>
            <svg width="150" height="150" class="icon-dark-blue not-found__icon">
                <use href="./assets/static/icons.svg#icon-paw"></use>
            </svg>
            <p class="not-found__four">4</p>
        </div>
        <p class="not-found__subtitle">сторінку не знайдено</p>
        <a href="index.html" class="btn btn-font--sec btn-yellow btn-yellow--cleaned not-found__btn">на головну</a>
    </div>
</section>