<section class="section">
  <div class="container">
    <h2 class="partners__title">наші партнери</h2>
    <div class="swiper partners__slider" data-slider="partners-slider">
      <div class="swiper-wrapper">
        <!-- start of single partner slider -->
        <div class="swiper-slide">
            <picture>
                <img src="./assets/static/pictures/partner1.png" alt="partner" width="412">
            </picture>
        </div>
        <!-- end of single partner slider -->
        <div class="swiper-slide">
            <picture>
                <img src="./assets/static/pictures/partner2.png" alt="partner" width="412">
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <img src="./assets/static/pictures/partner3.png" alt="partner" width="412">
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <img src="./assets/static/pictures/partner4.png" alt="partner" width="412">
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <img src="./assets/static/pictures/partner1.png" alt="partner" width="412">
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <img src="./assets/static/pictures/partner2.png" alt="partner" width="412">
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <img src="./assets/static/pictures/partner3.png" alt="partner" width="412">
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <img src="./assets/static/pictures/partner4.png" alt="partner" width="412">
            </picture>
        </div>
      </div>
      <!-- scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
