<section class="questions section">
  <div class="container">
    <h2 class="questions__title">Найчастіші питання</h2>
    <div class="questions__list-wrapper js-questions">
      <ul class="questions__list">
        <!-- start of single question and answer -->
        <li class="questions__item">
          <div class="questions__block">
            <h4 class="questions__subtitle">Що таке опіка?</h4>
            <button type="button" class="btn btn-reset questions__btn">
              <svg height="20" width="18" class="icon icon-stroke-black">
                <use href="./assets/static/icons.svg#icon-arrow-small"></use>
              </svg>
            </button>
          </div>
          <div class="questions__answer">
            <p class="questions__text">
              Дуже часто нашим друзям, гостям та підписникам западає в душу
              якийсь сумний носик. Нажаль, не всі можуть забрати тварину з
              притулку, але мають бажання допомагати підтримувати хвостика та
              його сите життя. Тепер можливо обрати одного або декілька
              хвостиків та щомісяця виділяти кошти для його утримання.
            </p>
          </div>
        </li>
        <!-- end of single question+answer -->
        <li class="questions__item">
          <div class="questions__block">
            <h4 class="questions__subtitle">Що таке опіка?</h4>
            <button type="button" class="btn btn-reset questions__btn">
              <svg height="20" width="18" class="icon icon-stroke-black">
                <use href="./assets/static/icons.svg#icon-arrow-small"></use>
              </svg>
            </button>
          </div>
          <div class="questions__answer">
            <p class="questions__text">
              Дуже часто нашим друзям, гостям та підписникам западає в душу
              якийсь сумний носик. Нажаль, не всі можуть забрати тварину з
              притулку, але мають бажання допомагати підтримувати хвостика та
              його сите життя. Тепер можливо обрати одного або декілька
              хвостиків та щомісяця виділяти кошти для його утримання.
            </p>
          </div>
        </li>
        <li class="questions__item">
          <div class="questions__block">
            <h4 class="questions__subtitle">Що таке опіка?</h4>
            <button type="button" class="btn btn-reset questions__btn">
              <svg height="20" width="18" class="icon icon-stroke-black">
                <use href="./assets/static/icons.svg#icon-arrow-small"></use>
              </svg>
            </button>
          </div>
          <div class="questions__answer">
            <p class="questions__text">
              Дуже часто нашим друзям, гостям та підписникам западає в душу
              якийсь сумний носик. Нажаль, не всі можуть забрати тварину з
              притулку, але мають бажання допомагати підтримувати хвостика та
              його сите життя. Тепер можливо обрати одного або декілька
              хвостиків та щомісяця виділяти кошти для його утримання.
            </p>
          </div>
        </li>
      </ul>
      <ul class="questions__list">
        <li class="questions__item">
          <div class="questions__block">
            <h4 class="questions__subtitle">Що таке опіка?</h4>
            <button type="button" class="btn btn-reset questions__btn">
              <svg height="20" width="18" class="icon icon-stroke-black">
                <use href="./assets/static/icons.svg#icon-arrow-small"></use>
              </svg>
            </button>
          </div>
          <div class="questions__answer">
            <p class="questions__text">
              Дуже часто нашим друзям, гостям та підписникам западає в душу
              якийсь сумний носик. Нажаль, не всі можуть забрати тварину з
              притулку, але мають бажання допомагати підтримувати хвостика та
              його сите життя. Тепер можливо обрати одного або декілька
              хвостиків та щомісяця виділяти кошти для його утримання.
            </p>
          </div>
        </li>
        <li class="questions__item">
          <div class="questions__block">
            <h4 class="questions__subtitle">Що таке опіка?</h4>
            <button type="button" class="btn btn-reset questions__btn">
              <svg height="20" width="18" class="icon icon-stroke-black">
                <use href="./assets/static/icons.svg#icon-arrow-small"></use>
              </svg>
            </button>
          </div>
          <div class="questions__answer">
            <p class="questions__text">
              Дуже часто нашим друзям, гостям та підписникам западає в душу
              якийсь сумний носик. Нажаль, не всі можуть забрати тварину з
              притулку, але мають бажання допомагати підтримувати хвостика та
              його сите життя. Тепер можливо обрати одного або декілька
              хвостиків та щомісяця виділяти кошти для його утримання.
            </p>
          </div>
        </li>
        <li class="questions__item">
          <div class="questions__block">
            <h4 class="questions__subtitle">Що таке опіка?</h4>
            <button type="button" class="btn btn-reset questions__btn">
              <svg height="20" width="18" class="icon icon-stroke-black">
                <use href="./assets/static/icons.svg#icon-arrow-small"></use>
              </svg>
            </button>
          </div>
          <div class="questions__answer">
            <p class="questions__text">
              Дуже часто нашим друзям, гостям та підписникам западає в душу
              якийсь сумний носик. Нажаль, не всі можуть забрати тварину з
              притулку, але мають бажання допомагати підтримувати хвостика та
              його сите життя. Тепер можливо обрати одного або декілька
              хвостиків та щомісяця виділяти кошти для його утримання.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
