<section class="slider">
  <div class="swiper" data-slider="big-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slider__img--wrapper">
            <img src="./assets/static/shelter1.jpg" alt="name of animal" class="slider__img">
        </div>
        <div class="container">
          <h2 class="slider__title">Шукає дім</h2>
          <div class="slider__info">
            <p class="slider__name">Дівчинка</p>
            <p class="slider__age">1 рік</p>
          </div>
          <div class="slider__btns">
            <a href="" class="btn btn-font--sec btn-yellow btn-yellow--cleaned btn-amatic slider__btn-yellow">познайомитись</a>
            <a
              href=""
              class="btn btn-dashed btn-font--sec btn-dashed--dark slider__btn-dashed btn-amatic"
              >Подивитись усіх</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider__img--wrapper">
            <img src="./assets/static/cat-bg.png" alt="animal name" class="slider__img">
        </div>
        <div class="container">
          <h2 class="slider__title">Шукає дім</h2>
          <div class="slider__info">
            <p class="slider__name">Хлопчик</p>
            <p class="slider__age">2 роки</p>
          </div>
          <div class="slider__btns">
            <a href="" class="btn btn-yellow btn-font--sec btn-yellow--cleaned btn-amatic slider__btn-yellow">познайомитись</a>
            <a
              href=""
              class="btn btn-dashed btn-font--sec btn-dashed--dark slider__btn-dashed btn-amatic"
              >Подивитись усіх</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider__img--wrapper">
            <img src="./assets/static/slider2.jpg" alt="take name animal" class="slider__img">
        </div>
        <div class="container">
          <h2 class="slider__title">Шукає дім</h2>
          <div class="slider__info">
            <p class="slider__name">Дівчинка</p>
            <p class="slider__age">1 рік</p>
          </div>
          <div class="slider__btns">
            <a href="" class="btn btn-yellow btn-font--sec btn-yellow--cleaned btn-amatic slider__btn-yellow">познайомитись</a>
            <a
              href=""
              class="btn btn-dashed btn-font--sec btn-dashed--dark slider__btn-dashed btn-amatic"
              >Подивитись усіх</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider__img--wrapper">
            <img src="./assets/static/shelter2.jpg" alt="take name animal" class="slider__img">
        </div>
        <div class="container">
          <h2 class="slider__title">Шукає дім</h2>
          <div class="slider__info">
            <p class="slider__name">Дівчинка</p>
            <p class="slider__age">1 рік</p>
          </div>
          <div class="slider__btns">
            <a href="" class="btn btn-yellow btn-font--sec btn-yellow--cleaned btn-amatic slider__btn-yellow">познайомитись</a>
            <a
              href=""
              class="btn btn-dashed btn-font--sec btn-dashed--dark slider__btn-dashed btn-amatic"
              >Подивитись усіх</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
