<section class="slider">
  <div class="swiper" data-slider="big-slider">
    <div class="swiper-wrapper">
      <!-- single slide. Repeats btns, titles(animal name, age) -->
      <div class="swiper-slide">
        <div class="slider__img-wr">
            <picture>
              <img src="./assets/static/pictures/shelter1.jpg" alt="name of animal" loading="lazy">
            </picture>
        </div>
        <div class="container">
          <div class="slider__info">
            <p class="slider__name">Дівчинка</p>
            <p>1 рік</p>
          </div>
          <div class="slider__btns">
            <a href="" class="btn slider__btn btn-font--sec btn-yellow btn-yellow--cleaned btn-amatic slider__btn-yellow">познайомитись</a>
            <a
              href=""
              class="btn slider__btn btn-dashed btn-dashed--big btn-font--sec btn-dashed--dark slider__btn-dashed btn-amatic"
              >Подивитись усіх</a>
          </div>
        </div>
      </div>
      <!-- end of single slide -->
      <div class="swiper-slide">
        <div class="slider__img-wr">
           <picture>
            <img src="./assets/static/pictures/cat-bg.png" alt="animal name" loading="lazy">
           </picture>
        </div>
        <div class="container">
          <div class="slider__info">
            <p class="slider__name">Хлопчик</p>
            <p>2 роки</p>
          </div>
          <div>
            <a href="" class="btn slider__btn btn-yellow btn-font--sec btn-yellow--cleaned btn-amatic slider__btn-yellow">познайомитись</a>
            <a
              href=""
              class="btn slider__btn btn-dashed btn-dashed--big btn-font--sec btn-dashed--dark slider__btn-dashed btn-amatic"
              >Подивитись усіх</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider__img-wr">
            <picture>
              <img src="./assets/static/pictures/slider2.jpg" alt="take name animal" loading="lazy">
            </picture>
        </div>
        <div class="container">
          <div class="slider__info">
            <p class="slider__name">Дівчинка</p>
            <p>1 рік</p>
          </div>
          <div>
            <a href="" class="btn slider__btn btn-yellow btn-font--sec btn-yellow--cleaned btn-amatic slider__btn-yellow">познайомитись</a>
            <a
              href=""
              class="btn slider__btn btn-dashed btn-dashed--big btn-font--sec btn-dashed--dark slider__btn-dashed btn-amatic"
              >Подивитись усіх</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider__img-wr">
            <picture>
              <img src="./assets/static/pictures/shelter2.jpg" alt="take name animal" loading="lazy">
            </picture>
        </div>
        <div class="container">
          <div class="slider__info">
            <p class="slider__name">Дівчинка</p>
            <p>1 рік</p>
          </div>
          <div>
            <a href="" class="btn slider__btn btn-yellow btn-font--sec btn-yellow--cleaned btn-amatic slider__btn-yellow">познайомитись</a>
            <a
              href=""
              class="btn slider__btn btn-dashed btn-dashed--big btn-font--sec btn-dashed--dark slider__btn-dashed btn-amatic"
              >Подивитись усіх</a>
          </div>
        </div>
      </div>
    </div>
    <!-- pagination block. all styles in scss -->
    <div class="swiper-pagination"></div>
  </div>
</section>
