<section class="subscription">
  <div class="subscription__bg-wr">
    <picture>
      <img
        src="./assets/static/pictures/cat-in-cage.jpg"
        alt="cate in cage"
        width="1920"
        loading="lazy"
      />
    </picture>
  </div>
  <h2 class="subscription__title">
    ПІДПИШИСЬ НА НАШУ РОЗСИЛКУ, ОТРИМУЙ ОСТАННІ НОВИНИ НАШОГО ПРИТУЛКУ. ДЯКУЄМО
    ЗА ТЕ, ЩО ЦІКАВИШСЯ НАМИ!
  </h2>
  <div class="container">
    <form action="" class="subscription__form">
      <input
        type="email"
        name="email"
        id="email"
        class="subscription__input"
        placeholder="E-mail"
      />
      <button
        type="submit"
        class="btn btn-yellow btn-font--sec btn-yellow--cleaned subscription__btn"
      >
        Підписатися
      </button>
    </form>
  </div>
</section>
