<section class="subscription">
    <h2 class="subscription__title">
      ПІДПИШИСЬ НА НАШУ РОЗСИЛКУ, ОТРИМУЙ ОСТАННІ НОВИНИ НАШОГО
      ПРИТУЛКУ. ДЯКУЄМО ЗА ТЕ, ЩО ЦІКАВИШСЯ НАМИ!
    </h2>
    <form action="" class="subscription__form">
        <input type="email" name="email" id="email" class="subscription__input" placeholder="E-mail"/>
        <button type="submit" class="btn btn-yellow btn-font--sec btn-yellow--cleaned
        subscription__btn">Підписатися</button>
    </form>
</section>
