<section class="tails">
  <div class="container">
    <h2 class="tails__subtitle">Слідкуй за хвостиками у наших соц мережах</h2>
    <ul class="tails__list">
      <li class="tails__item">
        <picture>
          <img src="./assets/static/pictures/insta1.jpg" alt="animal" />
        </picture>
      </li>
      <li class="tails__item">
        <picture>
          <img src="./assets/static/pictures/insta2.jpg" alt="animal" />
        </picture>
      </li>
      <li class="tails__item">
        <picture>
          <img src="./assets/static/pictures/insta3.jpg" alt="animal" />
        </picture>
      </li>
      <li class="tails__item">
        <picture>
          <img src="./assets/static/pictures/insta4.jpg" alt="animal" />
        </picture>
      </li>
      <li class="tails__item">
        <picture>
          <img src="./assets/static/pictures/insta5.jpg" alt="animal" />
        </picture>
      </li>
      <li class="tails__item">
        <picture>
          <img src="./assets/static/pictures/insta6.jpg" alt="animal" />
        </picture>
      </li>
      <li class="tails__item">
        <picture>
          <img src="./assets/static/pictures/insta7.jpg" alt="animal" />
        </picture>
      </li>
      <li class="tails__item">
        <picture>
          <img src="./assets/static/pictures/insta8.jpg" alt="animal" />
        </picture>
      </li>
      <li class="tails__item">
        <p class="tails__text">Читай історії хвостатих та допомагай</p>
        <ul class="tails__hashtags">
          <li>#овчар_Боец</li>
          <li>#Рокки_Дарк</li>
          <li>#Рокки_Дарк</li>
          <li>#Рокки_Дарк</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
