<section class="section team">
  <div class="container team--wrapper">
    <h2 class="team__title">Наша команда</h2>
    <p class="team__description">
      На данный момент в приюте проживают около 1000 животных: собаки, коты,
      лошади, козы, волки, енотовидные собаки. Их количество постепенно
      увеличивается.
    </p>
    <div class="swiper" data-slider="team-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <img
              src="./assets/static/pictures/shelter1.jpg"
              alt="kaltya"
              width="340"
              class="team__img"
            />
          </picture>
          <div class="team__member">
            <p class="team__name">Катя</p>
            <p class="team__position">Засновник притулку</p>
          </div>
        </div>
        <div class="swiper-slide">
          <picture>
            <img
              src="./assets/static/pictures/shelter1.jpg"
              alt="kaltya"
              width="340"
              class="team__img"
            />
          </picture>
          <div class="team__member">
            <p class="team__name">Катя</p>
            <p class="team__position">Засновник притулку</p>
          </div>
        </div>
        <div class="swiper-slide">
          <picture>
            <img
              src="./assets/static/pictures/shelter1.jpg"
              alt="kaltya"
              width="340"
              class="team__img"
            />
          </picture>
          <div class="team__member">
            <p class="team__name">Катя</p>
            <p class="team__position">Засновник притулку</p>
          </div>
        </div>
        <div class="swiper-slide">
          <picture>
            <img
              src="./assets/static/pictures/shelter1.jpg"
              alt="kaltya"
              width="340"
              class="team__img"
            />
          </picture>
          <div class="team__member">
            <p class="team__name">Катя</p>
            <p class="team__position">Засновник притулку</p>
          </div>
        </div>
        <div class="swiper-slide">
          <picture>
            <img
              src="./assets/static/pictures/shelter1.jpg"
              alt="kaltya"
              width="340"
              class="team__img"
            />
          </picture>
          <div class="team__member">
            <p class="team__name">Катя</p>
            <p class="team__position">Засновник притулку</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/static/pictures/shelter2.jpg"
            alt="kaltya"
            width="340"
            class="team__img"
          />
          <div class="team__member">
            <p class="team__name">Катя</p>
            <p class="team__position">Засновник притулку</p>
          </div>
        </div>
        <div class="swiper-slide">
          <picture>
            <img
              src="./assets/static/pictures/shelter1.jpg"
              alt="kaltya"
              width="340"
              class="team__img"
            />
          </picture>
          <div class="team__member">
            <p class="team__name">Катя</p>
            <p class="team__position">Засновник притулку</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/static/dog.jpg"
            alt="kaltya"
            width="340"
            class="team__img"
          />
          <div class="team__member">
            <p class="team__name">Катя</p>
            <p class="team__position">Засновник притулку</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="./assets/static/pictures/shelter2.jpg"
            alt="kaltya"
            width="340"
            class="team__img"
          />
          <div class="team__member">
            <p class="team__name">Катя</p>
            <p class="team__position">Засновник притулку</p>
          </div>
        </div>
        <div class="swiper-slide">
          <picture>
            <img
              src="./assets/static/pictures/shelter1.jpg"
              alt="kaltya"
              width="340"
              class="team__img"
            />
          </picture>
          <div class="team__member">
            <p class="team__name">Катя</p>
            <p class="team__position">Засновник притулку</p>
          </div>
        </div>
      </div>
      <div class="team__btns">
        <div class="btn swiper-button-prev"></div>
        <div class="btn swiper-button-next"></div>
      </div>
    </div>
  </div>
  <section class="section--relative">
    <div class="team__gradient"></div>
    <include src="assets/partials/care-shelter.html"></include>
  </section>
</section>
