<section class="visit section--mt-header">
    <div class="container">
        <div class="visit__wrapper">
            <h1 class="visit__title">Київська обл., Вишгородський р-н, с. Федорівка, Притулок для бездомних тварин "Сіріус"</h1>
           <include src="./assets/partials/components/volonteer.html"></include>
        </div>
    </div>
    <include src="./assets/partials/location.html"></include>
    <div class="container">
        <div class="visit__rules-wr">
            <div class="visit__rules-quote sides sides--visit">
                <h2 class="visit__subtitle">хочешь завітати в гості?</h2>
                <p class="visit__text">Чекаємо тебе в гості кожної:<br/>
                    суботи та неділі з 11.00 до 16.00</p>
            </div>
            <a href="" class="btn btn-yellow btn-font--sec btn-yellow--cleaned visit__btn">правила притулку  Бест Френдз</a>
            <div class="visit__rules-decoration">
                <p class="visit__rules-txt">прочитай обов'язково</p>
            </div>
        </div>
    </div>
    <div class="visit__caretaker">
        <div class="container visit__caretaker-wr">
            <p class="visit__caretaker-txt">Хочеш взяти хвостика під опіку?</p>
            <p class="visit__caretaker-txt">Заповнюй анкету!</p>
            <a href="" class="btn btn-yellow btn-font--sec btn-yellow--cleaned visit__caretaker-btn">Заповнити анкету</a>
        </div>
    </div>
    <div class="container visit__alert">
        <h2 class="visit__title">* Друже, наразі притулок переповнений. Кожного дня ми намагаємося створити якісні умови для наших хвостиків. Нові випадки розглядаються індивідуально, за попередньо домовленістю.</h2>
    </div>
</section>