<section class="war-shelter">
    <div class="war-shelter__bg-wr">
        <picture>
            <img src="./assets/static/pictures/war-bg.jpg" alt="backgroung image" width="1920">
        </picture>
    </div>
    <div class="war-shelter__overlay">
        <div class="container war-shelter__container">
            <h2 class="war-shelter__title">Притулок під час війни в україні</h2>
            <a class="btn btn-font--sec btn-yellow btn-amatic btn-yellow--cleaned war-shelter__btn">детальніше</a>
        </div>
    </div>
</section>