$white: #FFFFFF;
$black: #000000;
$skyBlueBackground: #669AD3;
$lightBlueBackgound: #D5E1E5;

$mainText: #020202;
$darkBlueDecorative: #04397B;
$darkBlueHover: #03336E;
$yellowDecorative: #EDDB51;
$yellowDarkHover: #D5C548;
$transparentBlue: rgba(164, 200, 244, 0.40);
$inputGrey: #DBDBDB;
$textGrey: #9F9F9F;