.btn {
  transition: var(--transition);
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  &-font {
    &--sec {
      font-family: var(--secondary-font);
      font-weight: 700;
      text-transform: uppercase;
    }
    &--main {
      font-family: var(--main-font);
    }
    &--odd {
      font-family: var(--odd-font);
    }
  }
  &-yellow {
    background-color: var(--yellow);
    border: none;
    border-radius: 2.5rem;
    color: var(--main-text-color);
    &:hover,
    &:focus {
      background-color: var(--yellow-hover);
    }
    &--cleaned {
      display: block;
      @include p-y(1rem);
      font-size: 1.25rem;
      @include media-M {
        font-size: 1.75rem;
        @include p-y(1.625rem);
      }
      @include media-L {
        font-size: 1.5rem;
      }
    }
    &--paw {
      @include p-y(0.625rem);
      font-size: 1.125rem;
    }
  }
  &-dashed {
    background-color: transparent;
    border-width: 0.125rem;
    border-style: dashed;
    display: inline-block;
    &--big {
      @include p-y(1rem);
      font-size: 1.25rem;
      @include media-M {
        font-size: 1.75rem;
        @include p-y(1.625rem);
      }
      @include media-L {
        font-size: 1.5rem;
      }
    }
    &--small {
      @include p-y(1rem);
      font-size: 1.125rem;
    }
    &--dark {
      border-radius: 2.5rem;
      border-color: var(--black);
      color: var(--main-text-color);
      &:hover, &:focus {
        border-color: var(--dark-blue);
        color: var(--dark-blue);
      }
    }
    &--blue {
      border-radius: 3.125rem;
      color: var(--dark-blue);
      border-color: var(--dark-blue);
      &:hover,
      &:focus {
        border-color: var(--light-blue);
        color: var(--light-blue);
      }
    }
    &--grey {
      border-radius: 3.125rem;
      color: var(--text-grey);
      border-color: var(--text-grey);
      &:hover, &:focus {
        color: var(--yellow-hover);
        border-color: var(--yellow-hover);
      }
    }
  }
  &-blue {
    background-color: var(--dark-blue);
    border-radius: 3.125rem;
    font-size: 1.5rem;
    color: var(--white);
    &:hover,
    &:focus {
      background-color: var(--dark-blue-hover);
    }
  }
  &-paw {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.375em;
  }
  &-transparent {
    font-size: 1rem;
    font-weight: 200;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    @include p-y(0.625rem);
    @include p-x(1rem);
    border-radius: 3.125rem;
    color: var(--main-text-color);
    background-color: transparent;
    @include media-M {
      padding: 0.625rem 1.05vw;
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
      border-color: var(--black);
    }
  }
  &-skyblue {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.25rem;
    background-color: var(--sky-blue);
    border: none;
    width: 100%;
    transition: var(--transition);
    cursor: pointer;
    @include media-M {
      font-size: 0.675rem;
    }
    @include media-maxM {
      justify-content: center;
    }
    @include media-L {
      font-size: 1.5rem;
    }
    &:hover,
    &:focus,
    &.active {
      background-color: var(--dark-blue);
    }
  }
  &-reset {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
