.btn {
  transition: var(--transition);
  cursor: pointer;
  white-space: nowrap;
  &-font {
    &--sec {
      font-family: var(--secondary-font);
      font-weight: 700;
      text-transform: uppercase;
    }
    &--main {
      font-family: var(--main-font);
    }
  }
  &-yellow {
    background-color: var(--yellow);
    border: none;
    border-radius: 2.5rem;
    width: max-content;
    color: $mainText;
    &:hover,
    &:focus {
      background-color: var(--yellow-hover);
    }
    &--cleaned {
      display: block;
      min-width: 17.2vw;
      padding: 1.625rem 6.6vw;
      font-size: 1.5rem;
    }
    &--paw {
      font-size: 1.125rem;
      padding: 0.625rem 4.68vw;
    }
  }
  &-dashed {
    background-color: transparent;
    border-width: 0.125rem;
    border-style: dashed;
    font-size: 1.5rem;
    &--dark {
      border-radius: 2.5rem;
      border-color: $black;
      color: $mainText;
    }
    &--blue {
      border-radius: 3.125rem;
      color: var(--dark-blue);
      border-color: var(--dark-blue);
      &:hover, &:focus {
        border-color: var(--light-blue);
        color: var(--light-blue);
      }
    }
  }
  &-blue {
    background-color: var(--dark-blue);
    border-radius: 3.125rem;
    font-size: 1.5rem;
    color: $white;
    &:hover,
    &:focus {
      background-color: var(--dark-blue-hover);
    }
  }
  &-paw {
    display: flex;
    align-items: center;
    column-gap: 0.375em;
  }
  &-transparent {
    font-size: 1rem;
    font-weight: 200;
    border: 1px dashed transparent;
    padding: 0.625rem 1.05vw;
    border-radius: 3.125rem;
    background-color: transparent;
    &:hover,
    &:focus,
    &:active,
    &.active {
      border-color: var(--black);
    }
  }
  &-skyblue {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.625rem 2.6vw;
    border-radius: 1.25rem;
    background-color: var(--sky-blue);
    border: none;
    width: 100%;
    transition: var(--transition);
    cursor: pointer;
    &:hover,
    &:focus,
    &.active {
      background-color: var(--dark-blue);
    }
  }
  &-reset {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
