.icon {
  cursor: pointer;
  transition: var(--transition);
  &-fill-white {
    fill: var(--white)
  }
  &-fill-black {
    fill: var(--black);
  }
  &-stroke-white {
    stroke: var(--white);
  }
  &-stroke-black {
    stroke: var(--black);
  }
  &-facebook {
    fill: var(--dark-blue)
  }
  &-telegram {
    fill: var(--sky-blue);
  }
  &-trans-scale {
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}