.section {
  @include p-y(5rem);
  @include media-L {
    @include p-y(9.38rem);
  }
  &-top {
    padding-top: 5rem;
    @include media-L {
      padding-top: 9.38rem;
    }
  }
  &-bottom {
    padding-bottom: 5rem;
    @include media-L {
      padding-bottom: 9.38rem;
    }
  }
  &--relative {
    position: relative;
  }
  &--mobile-bottom {
    @include media-maxM {
      padding-bottom: 5rem;
    }
  }
  &--mobile-y {
    @include media-maxM {
      @include p-y(5rem);
    }
  } 
  &--hideMob {
    @include media-maxM {
      overflow: hidden;
    }
  }
  &--mt-header {
    margin-top: 4.25rem;
    @include media-M {
      margin-top: 5.75rem;
    }
    @include media-L {
      margin-top: 7.25rem;
    }
  }
}

%section--gradient{
  background-image: radial-gradient(
    circle at 68% 50%,
    rgba(4, 57, 123, 0.06) 27rem,
    rgba(4, 57, 123, 0.04) 27rem,
    rgba(4, 57, 123, 0.04) 42.625rem,
    rgba(4, 57, 123, 0.02) 42.625rem,
    rgba(4, 57, 123, 0.02) 58.93rem,
    transparent 58.93rem
  );
}
