.swiper-pagination {
    .swiper-pagination-bullet {
      transition: var(--transition);
      width: 0.5rem;
      height: 0.5rem;
      @include media-M {
        width: 0.75rem;
        height: 0.75rem;
      }
      background-color: var(--yellow);
      opacity: 1;
      position: relative;
      &:hover,
      &:focus {
        background-color: var(--yellow-hover);
      }
      &::before {
        content: "";
        position: absolute;
        top: -0.25rem;
        left: -0.25rem;
        bottom: -0.25rem;
        right: -0.25rem;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
        border-color: transparent;
      }
    }
    .swiper-pagination-bullet-active {
      transform: scale(2);
      &.swiper-pagination-bullet {
        @include media-M {
          &::before {
            border-color: var(--yellow);
          }
        }
      }
    }
  }