@mixin subtitle($color, $size) {
  font-family: "Amatic SC", sans-serif;
  font-size: $size;
  font-weight: 700;
  text-transform: uppercase;
  color: $color;
}

@mixin push-full {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin el-hide {
  opacity: 0;
  visibility: hidden;
}

@mixin el-show {
  opacity: 1;
  visibility: visible;
}

@mixin media-M() {
  @media screen and (min-width: 425px) {
    @content;
  }
}

@mixin media-L() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

// @mixin media-XL() {
//   @media screen and (min-width: 1200px) {
//     @content;
//   }
// }

@mixin media-XL() {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin media-XXL() {
  @media screen and (min-width: 1920px) {
    @content;
  }
}
