@mixin subtitle($color, $size) {
  font-family: var(--secondary-font);
  font-size: $size;
  font-weight: 700;
  text-transform: uppercase;
  color: $color;
}

@mixin push-full-w {
  left: 0;
  top: 0;
  width: 100%;
}

@mixin full-wh {
  width: 100%;
  height: 100%;
}

@mixin push-center {
  top: 50%;
  left: 50%;
}

@mixin inset {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin el-hide {
  opacity: 0;
  visibility: hidden;
}

@mixin el-show {
  opacity: 1;
  visibility: visible;
}

@mixin cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin pseudo {
  content: "";
}

@mixin p-y($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin p-x($value) {
  padding-right: $value;
  padding-left: $value;
}

@mixin media-S() {
  @media screen and (min-width: 425px) {
    @content;
  }
}

@mixin media-maxM() {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin media-M() {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-maxL() {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin media-L() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin media-XL() {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

@mixin media-XXL() {
  @media screen and (min-width: 1920px) {
    @content;
  }
}
