.care-shelter {
  @extend %section--gradient;
  &--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__details {
    display: flex;
    flex-direction: column;
    width: inherit;
    font-size: 1.5rem;
    font-weight: 200;
    max-width: 33.438rem;
  }
  &__img {
    width: 35.25rem;
    margin-right: 9.5rem;
  }
  &__title {
    @include subtitle($mainText, 4rem);
    line-height: 1.23;
    margin-bottom: 1.25rem;
  }
  &__btns {
    margin-top: 2.25rem;
  }
  &__btn {
    &-yellow {
      margin-bottom: 1.25rem;
    }
    &-dashed {
      min-width: 20.75rem;
      padding: 1.625rem 9rem;
      display: block;
      width: max-content;
    }
  }
}
