.header {
  &--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  &__logo {
    fill: $darkBlueDecorative;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    column-gap: 2.5vw;
  }
  &__link {
    color: $darkBlueDecorative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.875rem;
    white-space: nowrap;
  }
}

.lang-switch {
  display: inline-flex;
  column-gap: 0.83vw;
  font-size: 0.875rem;
  &__item {
    color: $transparentBlue;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.active {
      color: $darkBlueDecorative;
    }
    &:hover,
    &:focus,
    &:active {
      color: $darkBlueDecorative;
    }
  }
}
