.news {
  background-color: $lightBlueBackgound;
  padding-top: 2.5rem;
  padding-bottom: 6.25rem;
  &__subtitle {
    @include subtitle($mainText, 4rem);
    text-align: center;
    line-height: 1.23;
    margin-bottom: 4.75rem;
  }
  &__image-wrapper {
    max-width: 50rem;
    height: 27.125rem;
    flex-shrink: 0;
    border-radius: 0.313rem;
    overflow: hidden;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 6.25rem;
  }
  &__text {
    font-weight: 200;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  &__button {
    @extend .button-dark;
    align-self: flex-end;
    font-size: 1.125rem;
    padding: 1rem 3.75rem;
    min-width: 13.75rem;
  }
}
