.hero {
  @extend .section;
  @include media-maxM {
    padding-top: 2rem;
  }
  &__quote {
    padding-bottom: 5rem;
    @include media-L {
      display: flex;
      flex-direction: row;
      column-gap: 7.55vw;
      align-items: end;
      padding-bottom: 9.38rem;
    }
  }
  // * big page title
  &__title {
    @include subtitle(var(--main-text-color), 4rem);
    margin-bottom: 1rem;
    line-height: 1.23;
    min-width: 31.66vw;
    text-align: center;
    @include media-L {
      font-size: 6.25rem;
      margin-bottom: 3rem;
      text-align: left;
    }
    &-wr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 3rem;
      @include media-M {
        margin-bottom: 2rem;
      }
      @include media-L {
        margin-bottom: 0;
        justify-content: flex-start;
      }
    }
  }
  // * scaling images gallery
  &__gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.75rem;
    @include media-M {
      flex-direction: row;
      column-gap: 1.25rem;
    }
    // * scaling down
    &:has(:hover) li:not(:hover) {
      @include media-L {
        flex-grow: 0;
        .hero__card-text {
          &.right {
            transform: rotate(180deg);
            @include el-show;
          }
          &.bottom {
            transform: translateY(100%);
            @include el-hide;
          }
        }
      }
      @include media-L {
        .hero__card-btn {
          @include el-hide;
        }
      }
    }
  }
  // * top btn take friend
  &__btn {
    width: 100%;
    @include media-M {
      width: 35vw;
      align-self: center;
    }
    @include media-L {
      width: 17.5vw;
      align-self: start;
    }
  }
  // * gradient background
  &__gradient {
    &::before {
      content: "";
      @extend %section--gradient;
      position: absolute;
      width: 100%;
      height: 230%;
      top: -50%;
      left: 0;
      z-index: -1;
    }
  }
  // * gallery single item
  &__card {
    width: 100%;
    height: 40vw;
    border-radius: 1.25rem;
    flex-grow: 0;
    transition: var(--transition);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    @include media-L {
      height: 30rem;
      width: 11.45vw;
    }
    // * link and photo
    & > a {
      position: relative;
      z-index: 1;
      & > picture,
      img {
        @include cover-image;
        object-position: center;
      }
    }
    // *default for first child
    &:first-child {
      flex-grow: 1;
      .hero__card-text {
        &.right {
          transform: translate(100%) rotate(180deg);
          @include el-hide;
        }
        &.bottom {
          transform: translateY(0);
          @include el-show;
        }
      }
      .hero__card-btn {
        @include el-show;
      }
    }
    @include media-L {
      &:hover,
      &:focus {
        flex-grow: 1;
        .hero__card-text {
          &.right {
            transform: translateX(100%) rotate(180deg);
            @include el-hide;
          }
          &.bottom {
            transform: translateY(0);
            @include el-show;
          }
        }
        .hero__card-btn {
          @include el-show;
        }
      }
    }
  }
  // * block of card text
  &__card-text {
    position: absolute;
    color: var(--white);
    transition: var(--transition);
    z-index: 2;
    bottom: 1.5rem;
    &.right {
      @include media-maxL {
        @include el-hide;
      }
      right: 1vw;
      writing-mode: vertical-lr;
      text-align: left;
      transform: rotate(180deg);
      @include el-show;
    }
    &.bottom {
      @include media-maxL {
        @include el-show;
        transform: translateY(0%);
      }
      left: 2vw;
      transform: translateY(100%);
      @include el-hide;
    }
  }
  &__card-title {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    @include media-M {
      font-size: 1.125rem;
    }
    @include media-L {
      font-size: 1.5rem;
    }
  }
  // * subtitle which is hidden at first
  &__card-subtitle {
    font-weight: 100;
    font-size: 0.875rem;
    transition: var(--transition);
    @include media-L {
      font-size: 1.125rem;
    }
  }
  // * paw on card
  &__card-btn {
    position: absolute;
    background-color: transparent;
    right: 0.5rem;
    bottom: 1rem;
    z-index: 1;
    transition: var(--transition);
    @include media-maxL {
      @include el-show;
    }
    @include el-hide;
    @include media-M {
      bottom: 3rem;
      right: 0rem;
    }
    @include media-L {
      right: 1.5rem;
    }
  }
  &__card-paw {
    transform: rotate(45deg);
  }
  &__card-arrow {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
  }
  // * darkening images
  &__photo-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(27, 27, 27, 0.4);
  }
  // ! another block
  // * about shelter wrapper
  &__description {
    height: 100%;
    @include media-M {
      display: flex;
      flex-direction: row;
      column-gap: 4.2vw;
    }
    @include media-L {
      column-gap: 8.38vw;
    }
  }
  // * subtitle
  &__subtitle {
    @include subtitle(var(--main-text-color), 4.5rem);
    margin-bottom: 0.75rem;
  }
  // * image wrap
  &__img-wrapper {
    width: 100%;
    height: 100%;
    &.right {
      margin-bottom: 1rem;
      @include media-L {
        margin-bottom: 2.75rem;
      }
    }
    border-radius: 1.25rem;
    overflow: hidden;
    & img,
    picture {
      @include cover-image;
    }
  }
  &__text {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  // * left and right blocks of text+image
  &__paragraph {
    display: flex;
    flex-direction: column;
    &:first-child {
      @include media-maxM {
        margin-bottom: 2rem;
      }
    }
    @include media-L {
      width: calc((100% - 10rem) / 2);
    }
    &:nth-child(2) {
      flex-grow: 2;
    }
  }
}
