<section class="care-shelter">
    <div class="container care-shelter--wrapper">
        <div class="care-shelter__details">
            <h2 class="care-shelter__title">Візьми хвостика під опіку!</h2>
            <p>Якщо в тебе немає можливості забрати тваринку до себе, ти можеш стати її опікуном.</p>
            <div class="care-shelter__btns">
                <a href="" class="btn btn-yellow btn-amatic btn-yellow--cleaned care-shelter__btn-yellow">обрати хвостика</a>
                <a href="" class="btn btn-amatic btn-dashed btn-dashed--dark care-shelter__btn-dashed">Детальніше</a>
            </div>
        </div>
        <img src="./static/maine-coon.jpg" width="564" alt="maine coon" class="care-shelter__img"/>
    </div>
</section>