<section class="section demands" id="demands">
  <div class="container">
    <h2 class="demands__subtitle">Потреби притулку</h2>
    <div class="demands--wrapper">
      <ul class="demands__btns">
        <li>
          <button type="button" class="btn btn-skyblue active">
            Матеріальні
            <svg width="10" height="18" class="icon-arrow">
              <use href="./static/icons.svg#icon-arrow-small" />
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-skyblue">
            Фізичні
            <svg width="10" height="18" class="icon-arrow">
              <use href="./static/icons.svg#icon-arrow-small" />
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-skyblue">
            Фінансові
            <svg width="10" height="18" class="icon-arrow">
              <use href="./static/icons.svg#icon-arrow-small" />
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-skyblue">
            Шукаємо спонсорів
            <svg width="10" height="18" class="icon-arrow">
              <use href="./static/icons.svg#icon-arrow-small" />
            </svg>
          </button>
        </li>
      </ul>
      <div class="demands__options">
        <ul class="demands__subcategories">
          <li><button class="btn btn-transparent active">Їжа</button></li>
          <li><button class="btn btn-transparent">Господарське</button></li>
          <li><button class="btn btn-transparent">Ліки</button></li>
          <li><button class="btn btn-transparent">Текстиль</button></li>
        </ul>
        <ul class="demands__content">
          <li>Сухой корм для котят</li>
          <li>Сухой корм для котов и собак</li>
          <li>Влажные корма (паучи и консервы) для котов и котят</li>
          <li>Морковь и яблоки для лошадок, капусту для козла Бори</li>
          <li>Говядину и курятину для волков и енотовидных собак</li>
          <li>Сухой корм Роял Гепатик для #овчар_Боец</li>
          <li>
            Консервы Баскервиль (говядина) для лайка_Лайма с травмой
            позвоночника, #маленькая_Кукла и для #Рокки_Дарк, #овчар_Боец,
            #рыжий_Ройчер, для больных и старых собачек и котиков
          </li>
          <li>Влажный корм для #кот_Пельмень Роял Канин Уринари</li>
          <li>
            Сушёные ( лёгкие, уши, тразеи и т. д) для лучшей социализации
            животных
          </li>
          <li>Подсолнечное масло</li>
          <li>Крупы крупного помола</li>
        </ul>
      </div>
      <div class="demands__help">
        <div>
          <button class="btn btn-yellow btn-yellow--paw btn-paw btn-amatic demands__help-btn">
            <svg width="35" height="35" class="black-paw">
              <use href="./static/icons.svg#icon-paw" />
            </svg>
            Допомогти
          </button>
          <p>Будь ласка, заповніть анкету, якщо хочете нам допомогти</p>
        </div>
        <div class="demands__contacts">
          <p>Звертайтеся за номером</p>
          <a href="tel:+380999999999">+380 99 999 99 99</a>
          <ul class="demands__icons">
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer">
                <svg width="40" height="40" class="icon icon-facebook">
                  <use href="./static/icons.svg#icon-facebook" />
                </svg>
              </a>
            </li>
            <li>
              <a href="http://" target="_blank" rel="noopener noreferrer">
                <svg width="40" height="40" class="icon icon-telegram">
                  <use href="./static/icons.svg#icon-telegram" />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
