<header class="header">
  <div class="container header--wrapper">
    <a href="./">
      <svg width="100" height="75" class="header__logo">
        <use href="./static/icons.svg#icon-logo"/>
      </svg>
    </a>
    <nav>
      <ul class="header__nav">
        <li>
          <a href="" class="header__link">Взяти хвостика</a>
        </li>
        <li>
          <a href="" class="header__link">Стати опікуном</a>
        </li>
        <li>
          <a href="" class="header__link">Про нас</a>
        </li>
        <li>
          <a href="" class="header__link">Підтримати притулок</a>
        </li>
        <li>
          <a href="" class="header__link">Потреби притулку</a>
        </li>
        <li>
          <a href="" class="header__link">Вже дома</a>
        </li>
        <li>
          <a href="" class="header__link">Сувеніри</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="donation">Терміновий збір</button>
    <ul class="lang-switch">
      <li><a href="" class="lang-switch__item active">UA</a></li>
      <li><a href="" class="lang-switch__item">EN</a></li>
    </ul>
  </div>
</header>
