<section class="section main-hero">
  <div class="container">
    <div class="main-hero__quote">
      <div>
        <p class="main-hero__title">не купуй,<br/> візьми з притулку!</p>
        <button class="btn btn-amatic btn-yellow btn-yellow--cleaned">взяти друга</button>
      </div>
      <ul class="main-hero__gallery">
        <li class="main-hero__photo-wrapper">
            <a href="">
              <img
              src="./static/dog.png"
              alt="help animals"
              class="main-hero__gallery-photo"
              width="220"
            />
            </a>
            <div class="main-hero__gallery-text">
              <p class="main-hero__card-title">Взяти друга</p>
              <p class="main-hero__card-subtitle">Дескриптор</p>
            </div>
            <div class="main-hero__photo-overlay"></div>
        </li>
        <li class="main-hero__photo-wrapper">
          <a href="">
            <img
            src="./static/dog.png"
            alt="help animals"
            class="main-hero__gallery-photo"
            width="220"
          />
          </a>
          <div class="main-hero__gallery-text">
            <p class="main-hero__card-title">Стати опікуном</p>
            <p class="main-hero__card-subtitle">Дескриптор</p>
          </div>
          <div class="main-hero__photo-overlay"></div>
        </li>
        <li class="main-hero__photo-wrapper">
          <a href="">
            <img
            src="./static/dog.png"
            alt="help animals"
            class="main-hero__gallery-photo"
            width="220"
          />
          </a>
          <div class="main-hero__gallery-text">
            <p class="main-hero__card-title">Підтримати притулок</p>
            <p class="main-hero__card-subtitle">Дескриптор</p>
          </div>
          <div class="main-hero__photo-overlay"></div>
        </li>
      </ul>
    </div>
    <article class="main-hero__description">
      <div class="main-hero__paragraph">
        <h2 class="main-hero__subtitle">про притулок</h2>
        <p class="main-hero__text">Частный приют для животных «Бест френдз» был основан в 2014 году селе Фасовая, Макаровского района, Киевской области на базе общественной организации «Зооцентр «Ковчег» Оноприенко Галиной Федоровной и построен за ее собственные средства. Галина Федоровна является владельцем приюта и его директором.</p>
        <div class="main-hero__img--wrapper">
          <img src="./static/shelter1.jpg" alt="friendly dogs" width="768" class="main-hero__img"/>
        </div>
      </div>
      <div class="main-hero__paragraph">
        <div class="main-hero__img--wrapper">
          <img src="./static/shelter2.jpg" alt="friendly dogs" width="790" class="main-hero__img"/>
        </div>
        <p class="main-hero__text">
          Частный приют для животных «Бест френдз» был основан в 2014 году селе Фасовая, Макаровского района, Киевской области на базе общественной организации «Зооцентр «Ковчег» Оноприенко Галиной Федоровной и построен за ее собственные средства. Галина Федоровна является владельцем приюта и его директором.
        </p>
      </div>
    </article>
  </div>
</section>
