<section class="news">
    <div class="container">
        <h2 class="news__subtitle">важливі новини притулку</h2>
        <div class="news__wrapper">
            <div class="news__image-wrapper">
                <img src="./static/dog.jpg" alt="dog" width="806"/>
            </div>
            <div class="news__text">
                <p>Інформація...Lorem ipsum dolor sit amet consectetur. Nec dictumst eu mauris ac purus pharetra viverra. Nullam egestas et nisl id pulvinar enim et. Vestibulum neque in ultrices nunc non. Purus suspendisse praesent urna pulvinar egestas arcu eget suspendisse. Arcu feugiat orci erat feugiat arcu laoreet. Mauris ultrices amet cras eget in magnis mauris nibh. Nisl semper duis gravida purus tellus posuere. Sem arcu vel arcu lorem vel eget a in. Nisi urna quis platea luctus. Інформація...Lorem ipsum dolor sit amet consectetur. Nec dictumst eu mauris ac purus pharetra viverra. Nullam egestas et nisl id pulvinar enim et. Vestibulum neque in ultrices nunc non. 
                </p>
                <button class="btn btn-dashed btn-dashed--dark btn-amatic news__button">Детальніше</button>
            </div>
        </div>
    </div>
</section>