<section class="slider">
    <div class="swiper" data-slider="big-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          ...
        </div>
        <div class="swiper-pagination"></div>
      
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    <div class="container slider--overlay">
        <h2 class="slider__title">Шукає дім</h2>
        <div class="slider__info">
            <p class="slider__name">Дівчинка</p>
            <p class="slider__age">1 рік</p>
        </div>
        <div class="slider__btns">
            <a href="" class="btn btn-yellow btn-yellow--cleaned btn-amatic">познайомитись</a>
            <a href="" class="btn btn-dashed btn-dashed--dark slider__btn-dashed">Подивитись усіх</a>
        </div>
    </div>
</section>