.care-shelter {
  @extend %section--gradient;
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    @include media-S {
      align-items: center;
    }
  }
  // * text block wrapper
  &__details {
    font-size: 1rem;
    font-weight: 200;
    @include media-maxM {
      text-align: center;
    }
    @include media-M {
      max-width: 50vw;
    }
    @include media-L {
      max-width: 33.5rem;
      font-size: 1.5rem;
    }
  }
  // * image of cat 
  &__img-wr {
    @include media-maxM {
      position: absolute;
      z-index: -1;
      @include inset;
      opacity: 0.4;
    }
    @include media-M {
      width: 35.25rem;
      margin-right: 7.9vw;
    }
    & img,
    picture {
      width: 100%;
      object-fit: contain;
    }
  }
  &__title {
    @include subtitle(var(--main-text-color), 2.5rem);
    line-height: 1.23;
    margin-bottom: 1.25rem;
    @include media-M {
      white-space: nowrap;
      font-size: 4rem;
    }
  }
  &__btns {
    margin-top: 2.25rem;
  }
  &__btn {
    width: 100%;
    @include media-M {
      width: 30vw;
    }
    @include media-L {
      width: 19.1vw;
    }
    &-yellow {
      margin-bottom: 1rem;
      @include media-L {
        margin-bottom: 1.25rem;
      }
    }
  }
}
