.demands {
    &--wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__subtitle {
        @include subtitle($mainText, 4rem);
        line-height: 1.23;
        margin-bottom: 1.5rem;
        text-align: center;
        text-transform: none;
    }
    &__btns {
        display: flex;
        flex-direction: column;
        row-gap: 1.875rem;
        margin-right: 4.06vw;
        min-width: 30vw;
    }
    &__subcategories {
        margin-bottom: 4rem;
        display: flex;
        flex-direction: row;
        column-gap: 3.22vw;
    }
    &__content {
        list-style: disc;
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 200;
    }
    &__help {
        text-align: end;
        font-size: 1rem;
        font-weight: 200;
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-btn {
            margin-bottom: 1rem;
        }
    }
    &__icons {
        display: flex;
        column-gap: 1.25rem;
        justify-content: flex-end;
        margin-top: 1.25rem;
    }
}