.header {
  position: fixed;
  background-color: transparent;
  @include push-full-w;
  right: 0;
  transition: var(--transition);
  transform: translateY(-100%);
  z-index: 99;
  background-color: transparent;
  // header styles for scrolling features
  &.shown {
    transform: translateY(0);
  }
  &--white-back {
    background-color: var(--white);

  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }
  // logo
  &__logo {
    width: 3.25rem;
    @include media-M {
      width: 4.75rem;
    }
    @include media-L {
      width: 6.25rem;
    }
    flex-shrink: 0;
    & picture, img {
      @include cover-image;
    }
  }
  //  navigation + mobile menu
  &__nav {
    @include media-maxL {
      position: fixed;
      top: 5.75rem;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--white);
      padding: 2rem;
      transition: var(--transition);
      @include el-hide;
      transform: translateX(100%);
      &.shown {
        @include el-show;
        transform: translateX(0%);
      }
    }
    & ul {
      display: flex;
      flex-direction: column;
      @include media-maxL {
        row-gap: 2rem;
      }
      @include media-L {
        flex-direction: row;
        column-gap: 1.5vw;
      }
      @include media-XL {
        column-gap: 2.5vw;
      }
      &:hover > li:not(:hover) {
        color: rgba(#EDDB51, 0.5);
      }
      & > li {
        color: var(--dark-blue);
        text-transform: uppercase;
        font-weight: 400;
        white-space: nowrap;
        font-size: 1.25rem;
        transition: var(--transition);
        @include media-L {
          font-size: 0.75rem;
        }
        @include media-XL {
          font-size: 0.875rem;
        }
        &.current-menu-item {
          color: var(--dark-blue-hover);
        }
      }
    }
  }
  //  mobile menu btn
  &__btn {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    @include media-L {
      display: none;
      pointer-events: none;
    }
    &:hover,
    &:focus,
    &:active {
      .header__btn-line {
        background-color: var(--dark-blue-hover);
      }
    }
    &-line {
      display: block;
      width: 100%;
      height: 0.188rem;
      background-color: var(--dark-blue);
      position: absolute;
      border-radius: 0.25rem;
      transition: var(--transition);
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        @include el-show;
      }
      &:last-child {
        bottom: 0;
      }
    }
    &.close {
      .header__btn-line {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
        &:nth-child(2) {
          @include el-hide;
        }
        &:last-child {
          transform: translateY(50%) rotate(45deg);
          bottom: 50%;
        }
      }
    }
  }
  // language switcher
  &__lang-switch {
    display: inline-flex;
    column-gap: 2.2vw;
    font-size: 1rem;
    @include media-L {
      column-gap: 1vw;
      font-size: 0.75rem;
    }
    @include media-XL {
      font-size: 0.875rem;
    }
    & > li {
      color: var(--transparent-blue);
      cursor: pointer;
      transition: var(--transition);
      & > a.active {
        color: var(--dark-blue);
      }
      &:hover,
      &:focus,
      &:active {
        color: var(--dark-blue);
      }
    }
  }
}
