.help-shelter {
  &--wrapper {
    color: $white;
    background-color: $skyBlueBackground;
    padding: 8.75rem 10.51vw 8.375rem 6.25vw;
    border-radius: 2.5rem;
    display: flex;
    column-gap: 8.33vw;
    background-image: url('../static/paws-track.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  &__subtitle {
    @include subtitle($white, 2.25rem);
    margin-bottom: 1.5rem;
  }
  &__text {
    max-width: 25vw;
  }
  &__radio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2.5rem;
    column-gap: 5.72vw;
  }
  &__radio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    column-gap: 0.625rem;
    width: calc((100% - 2 * 5.72vw) / 3);
  }
  &__btns {
    display: flex;
    margin-top: 2.813rem;
    column-gap: 5.83vw;
  }
  &__label {
    font-size: 1.5rem;
    font-weight: 300;
  }
  &__btn {
    &-paw {
      padding: 0.625rem 3.33vw;
    }
    &-dashed {
      padding: 1rem 3.125vw;
    }
  }
  &__input {
    width: 1.75rem;
    height: 1.75rem;
    border: 2px solid $white;
    &::before {
      content: "";
      width: 0.875rem;
      height: 0.875rem;
      background-color: $white;
    }
  }
}
