.main-hero {
  // hero wrapper
  &__quote {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 5rem;
    @include media-L {
      flex-direction: row;
      column-gap: 7.55vw;
      align-items: end;
      padding-bottom: 9.38rem;
    }
  }
  // * big page title
  &__title {
    @include subtitle(var(--main-text-color), 4.5rem);
    margin-bottom: 1rem;
    line-height: 1.23;
    min-width: 31.66vw;
    @include media-L {
      font-size: 6.25rem;
      margin-bottom: 3rem;
    }
  }
  // * scaling images gallery
  &__gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.75rem;
    @include media-M {
      flex-direction: row;
      column-gap: 1.25rem;
    }
    // * scaling down
    &:hover > li:not(:hover) {
      @include media-L {
        flex-grow: 0;
        .main-hero__card-text {
          &.right {
            transform: rotate(180deg);
            @include el-show;
          }
          &.bottom {
            transform: translateY(-100%);
            @include el-hide;
          }
        }
      }
    }
  }
  // * gradient background
  &__gradient {
    &::before {
      content: "";
      @extend %section--gradient;
      position: absolute;
      width: 100%;
      height: 230%;
      top: -50%;
      left: 0;
      z-index: -1;
    }
  }
  // * gallery single item
  &__card {
    width: 100%;
    height: 18rem;
    border-radius: 1.25rem;
    flex-grow: 0;
    transition: var(--transition);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    @include media-L {
      height: 30rem;
      width: 11.45vw;
    }
    // * link and photo
    & > a {
      position: relative;
      z-index: 1;
      & > picture,
      img {
        @include cover-image;
        object-position: center;
      }
    }
    // *default for first child
    &:first-child {
      flex-grow: 1;
      .main-hero__card-text {
        &.right {
          transform: translate(100%) rotate(180deg);
          @include el-hide;
        }
        &.bottom {
          transform: translateY(0);
          @include el-show;
        }
      }
    }
    @include media-L {
      &:hover,
      &:focus {
        flex-grow: 1;
        .main-hero__card-text {
          &.right {
            transform: translate(100%) rotate(180deg);
            @include el-hide;
          }
          &.bottom {
            transform: translateY(0);
            @include el-show;
          }
        }
      }
    }
  }
  // * block of card text
  &__card-text {
    position: absolute;
    color: var(--white);
    transition: var(--transition);
    z-index: 2;
    bottom: 1.5rem;
    &.right {
      @include media-maxL {
        @include el-hide;
      }
      right: 1.56vw;
      writing-mode: vertical-lr;
      text-align: left;
      transform: rotate(180deg);
      @include el-show;
    }
    &.bottom {
      @include media-maxL {
        @include el-show;
        transform: translate(0%);
      }
      left: 2vw;
      transform: translateY(100%);
      @include el-hide;
    }
  }
  &__card-title {
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    @include media-L {
      font-size: 1.5rem;
    }
  }
  // subtitle which is hidden at first
  &__card-subtitle {
    font-weight: 100;
    font-size: 0.875rem;
    transition: var(--transition);
    @include media-L {
      font-size: 1.125rem;
    }
  }
  // darkening images
  &__photo-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(27, 27, 27, 0.4);
  }
  // ! another block

  // about shelter block
  &__description {
    display: flex;
    column-gap: 8.38vw;
    height: 100%;
  }
  &__subtitle {
    @include subtitle(var(--main-text-color), 4.5rem);
    margin-bottom: 0.75rem;
  }
  &__img {
    border-radius: 1.25rem;
    height: 100%;
    object-fit: cover;
    &--wrapper {
      width: 100%;
      height: 100%;
      margin-bottom: 2.75rem;
    }
  }
  &__text {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  &__paragraph {
    width: calc((100% - 10rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:nth-child(2) {
      flex-grow: 2;
    }
  }
}
