.main-hero {
  &__quote {
    display: flex;
    flex-direction: row;
    column-gap: 7.55vw;
    align-items: end;
    padding-bottom: 9.38rem;
  }
  &__title {
    @include subtitle(var(--main-text-color), 6.25rem);
    margin-bottom: 3rem;
    line-height: 1.23;
    min-width: 31.66vw;
  }
  &__gallery {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 100%;
  }
  &__photo-wrapper {
    height: 30rem;
    width: 11.458vw;
    border-radius: 1.25rem;
    flex-grow: 0;
    transition: var(--transition);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    &:first-child {
      flex-grow: 1;
      .main-hero__gallery-text {
        transform: rotate(0);
        bottom: 1.563rem;
        left: 1.688rem;
      }
      .main-hero__card-subtitle {
        visibility: visible;
        opacity: 1;
      }
    }
    &:hover,
    &:focus {
      flex-grow: 10;
      .main-hero__gallery-text {
        transform: rotate(0);
        bottom: 1.563rem;
        left: 1.688rem;
      }
      .main-hero__card-subtitle {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(27, 27, 27, 0.4);
  }
  &__gallery-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__gallery-text {
    position: absolute;
    transform: rotate(-90deg);
    color: $white;
    right: -1.813rem;
    transition: var(--transition);
    bottom: 4rem;
    z-index: 2;
  }
  &__card-title {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  &__card-subtitle {
    font-weight: 100;
    font-size: 1.125rem;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
  }
  &__description {
    display: flex;
    column-gap: 8.38vw;
    height: 100%;
  }
  &__subtitle {
    @include subtitle(var(--main-text-color), 4.5rem);
    margin-bottom: 0.75rem;
  }
  &__img {
    border-radius: 1.25rem;
    height: 100%;
    object-fit: cover;
    &--wrapper {
      width: 100%;
      height: 100%;
      margin-bottom: 2.75rem;
    }
  }
  &__text {
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  &__paragraph {
    width: calc((100% - 10rem) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:nth-child(2) {
      flex-grow: 2;
    }
  }
}
