.news {
  background-color:var(--light-blue);
  padding-top: 2.5rem;
  padding-bottom: 6.25rem;
  &__subtitle {
    @include subtitle(var(--main-text-color), 4rem);
    text-align: center;
    line-height: 1.23;
    margin-bottom: 4.75rem;
  }
  &__image-wrapper {
    max-width: 41.9vw;
    height: auto;
    flex-shrink: 0;
    border-radius: 0.313rem;
    overflow: hidden;
    & > img {
      object-fit: cover;
      height: 100%;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 5.2vw;
  }
  &__text {
    font-weight: 200;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  &__button {
    align-self: flex-end;
    padding: 1rem 3.125vw;
    min-width: 11.5vw;
  }
}
