.slider {
  .swiper-slide {
    position: relative;
    width: 100%;
    z-index: 100;
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include media-M {
      padding-bottom: 13rem;
    }
    @include media-L {
      padding-top: 10rem;
      padding-bottom: 13rem;
    }
    &::after {
      @include pseudo;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      @include full-wh;
      background: rgba(0, 0, 0, 0.2);
      z-index: -1;
    }
  }
  // * slider btn
  &__btn {
    width: 100%;
    @include media-M {
      width: 25vw;
    }
    @include media-L {
      width: 19vw;
    }
    &-dashed {
      background-color: var(--white);
    }
    &-yellow {
      margin-bottom: 1.25rem;
    }
  }
  // * text info about animal
  &__info {
    font-size: 1.75rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 14rem;
    @include media-maxM {
      text-align: center;
    }
    @include media-M {
      margin-bottom: 7rem;
    }
    @include media-L {
      font-size: 2rem;
      margin-bottom: 14rem;
    }
  }
  &__name {
    margin-bottom: 0.75rem;
    @include media-L {
      margin-bottom: 2rem;
    }
  }
  //  * image for slider
  &__img-wr {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    & picture,
    img {
      @include cover-image;
    }
  }
  // * pagination bullets
  .swiper-pagination {
    bottom: 1.5rem;
    .swiper-pagination-bullet {
      margin: 0 0.3rem;
      @include media-M {
        margin: 0 0.7rem;
      }
    }
  }
}
