.subscription {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      0deg,
      rgba(37, 37, 37, 0.8) 0%,
      rgba(37, 37, 37, 0.8) 100%
    ),
    url("../static/cat-in-cage.jpg");

  padding: 4.38rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media-L {
    background-position: 0, 0 -16rem;
  }
  &__title {
    @include subtitle(var(--white), 1.75rem);
    text-align: center;
    @include media-M {
      font-size: 2.25rem;
      max-width: 50rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    margin-top: 2rem;
    @include media-M {
      margin-top: 4rem;
      column-gap: 4.16vw;
    }
  }
  &__input {
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    outline: none;
    border: none;
    background-color: var(--input-grey);
    min-width: 50vw;
    @include media-M {
      padding: 1.625rem 2.5rem;
      min-width: 37.5vw;
    }
    &,
    &::placeholder {
      @include subtitle(var(--text-grey), 1.5rem);
    }
  }
  &__btn {
    width: 28vw;
    @include media-M {
      width: 17.1vw;
    }
  }
}
