.subscription {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4.38rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // * background
  &__bg-wr {
    position: absolute;
    @include inset;
    @include full-wh;
    z-index: -1;
    & img, picture {
      @include cover-image;
    }
  }
  &__title {
    @include subtitle(var(--white), 1.75rem);
    text-align: center;
    @include media-M {
      font-size: 2.25rem;
      max-width: 50rem;
    }
  }
  &__form {
    margin-top: 2rem;
    width: 100%;
    @include media-M {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 4rem;
      column-gap: 4.16vw;
    }
  }
  &__input {
    padding: 1rem 1rem;
    border-radius: 2.5rem;
    outline: none;
    border: none;
    background-color: var(--input-grey);
    min-width: 100%;
    @include media-M {
      padding: 1.625rem 2.5rem;
      min-width: 37.5vw;
    }
    @include media-maxM {
      margin-bottom: 1rem;
    }
    &,
    &::placeholder {
      @include media-maxM {
        text-align: center
      }
      @include subtitle(var(--text-grey), 1.5rem);
    }
  }
  &__btn {
    width: 100%;
    @include media-M {
      width: 17.1vw;
    }
  }
}
