.team {
  &__wrapper {
    @include media-L {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center
    }
  }
  &__title {
    @include subtitle(var(--main-text-color), 3rem);
    text-align: center;
    margin-bottom: 1.75rem;
    @include media-M {
      font-size: 4.5rem;
    }
  }
  &__description {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 2rem;
    text-align: center;
    @include media-L {
      max-width: 46rem;
      font-size: 1.125rem;
    }
  }
  .swiper {
    @include media-L {
      max-width: 73.95vw;
    }
  }
  .swiper-slide {
    height: 24rem;
    position: relative;
    border-radius: 1.25rem;
    overflow: hidden;
    @include media-M {
      height: 27rem;
    }
    & picture, img {
      @include cover-image;
    }
  }
  &__member {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    right: 1.25rem;
    background-color: var(--overlay-light-color);
    border-radius: 0.625rem;
    padding: 1rem 0.83vw 2.5rem;
  }
  &__name {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.25rem;
    @include media-L {
      font-size: 1.5rem;
    }
  }
  &__position {
    font-size: 0.875rem;
    font-weight: 100;
    @include media-M {
      font-size: 1.125rem;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    margin-top: 0;
    color: var(--main-text-color);
    border-radius: 50%;
    background-color: var(--overlay-light-color);
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    &::after {
      font-size: 0.75rem;
      font-weight: 600;
    }
    &:hover, &:focus {
      background-color: var(--yellow);
    }
  }
  &__btns {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1.25rem;
  }
}
